#containerImageAndComment {
    border: 2pt solid aqua;
    margin-top: 1%;
    float: left;
    width: 48%;
    margin-left: 10pt;
}

#imageID {
    margin-left: 50pt;
}

#containerImage {
    float: left;
}

#commentImageId {
    display: inline-block;
    margin-left: 100pt;
}

#containerComment {
    display: inline-block;
    float: left;
    margin-top: 10pt;
    margin-left: 115pt;
    border: 1px solid blue;
    width: 20%;
    text-align: center;
    height: 100%;
}

#containerLinhGoBack {
    float: left;
}

#contanierUploadedDate {
    display: inline-block;
    margin-left: 80pt;
    margin-top: 10pt;
}

#containerYourComment {
    display: inline-block;
    margin-left: 125pt;
    margin-top: 10pt;
}
#containerFilesize{
    float: left;
    margin-left: 22%;
}
