#containerImageAndComment {
    border: 2pt solid aqua;
    margin-top: 1%;
    float: left;
    width: 48%;
    margin-left: 10pt;
}

#imageID {
    margin-left: 50pt;
}

#containerImage {
    float: left;
}

#commentImageId {
    display: inline-block;
    margin-left: 100pt;
}

#containerComment {
    display: inline-block;
    float: left;
    margin-top: 10pt;
    margin-left: 150pt;
}

#containerLinhGoBack {
    float: left;
}
