body{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#mainPage{
    margin: 0 auto;
    width: 1200px;
    height: auto; 
}
table{
    margin: 0 auto;
}
tr{
    border:1px solid black;
}
td{
    border:1px solid black;
}
th{
    color: #168BE0;
}
th a {
    text-decoration: none;
    color: #168BE0;
}
.Grid{
    margin: 0 auto;
    font-family: initial;
    width: 60%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    margin-top: 1%;
}
.linkPageDefault{
    text-decoration: none;
    color: #168BE0;

}
.btnAddNewCustomerDefault{
    background-color: #19C88D;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 20%;
}
.btnAddNewCustomerDefault:hover{
     background: rgb(53, 167, 110);
}   
.btnAddNewCustomer{
    background-color: #19C88D;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
    margin-top: 4%;
}
.btnAddNewCustomer:hover{
     background: rgb(53, 167, 110);
}
#btnEditCustomer{
    background-color: #19C88D;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 3%;
}
#btnDeleteCustomer{
    background-color: #19C88D;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
    margin-left: 3%;
    margin-top: 1%;
}
#btnDeleteCustomer:hover{
    background: rgb(53, 167, 110);
}
#btnEditCustomer:hover{
    background: rgb(53, 167, 110);
}
#btnSearch{
    background-color: #19C88D;
    color: white;
    border: none;
    border-radius: 5px;
    height: 100%;
    font-size: 16pt;
    cursor: pointer;
}
#btnSearch:hover{
     background: rgb(53, 167, 110);
}
.linkPageAddNewCustomer{
    text-decoration: none;
    color: #19C88D;
    font-weight: bolder;
    margin-left: 3%;
    font-size: 16pt;
}
.linkPageAddNewCustomer:hover{
    transition: 1s linear;
    background-position: -600px -550px;
    transform: rotate(360deg);
}
.contanierForm{
    margin-left: 38%;
    margin-top: 2%;
    position: absolute;
}
.linkPageEditCustomer{
    text-decoration: none;
    color: #19C88D;
    font-weight: bolder;
    margin-left: 3%;
    font-size: 16pt;
}
.linkPageEditCustomer:hover{
    transition: 1s linear;
    background-position: -600px -550px;
    transform: rotate(360deg);
}
#txtSearchByCity{
    margin-bottom: 3%;
}
.contanierSearchFields{
    float: right;
    text-align: center;
    margin-top: 5%;

}
#txtName{
    margin-left: 58px;
    color: #19C88D;
}
#txtEmail{
    margin-left: 6px;
    color: #19C88D;
}
#txtAddress{
    margin-left: 43px;
    color: #19C88D;
}
#txtCountry{
    margin-left: 42px;
    color: #19C88D;
}
#ddlCity{
    margin-left: 67px;
    color: #19C88D;
    font-weight: bolder;
}
.FieldEmail{
    margin-top: 2%;
}
.FieldAddress{
    margin-top: 2%;
}
.FieldDdlCity{
    margin-top: 2%;
}
.FieldCountry{
    margin-top: 2%;
}
label{
    color: #168BE0;
}
#lblWrongEmail{
    color: red;
}
.containerForWrongLabel{
    margin-top: 5%;
    margin-left: 8%;
    font-size: 22pt;
    font-weight: bolder;
}
.searchFieldByName{
    margin-top: 6%;
}
.searchFieldByCity{
    margin-top: 2%;
}
#linkCancelSearchByName {
    text-decoration: none;
    color: #19C88D;
    font-size: 16pt;
}
#linkCancelSearchByName:hover{
    transition: 1s linear;
    background-position: -600px -550px;
    transform: rotate(360deg);
}
